p{
     font-family: system-ui;
     line-height: 2.00 em;
     font-size: 20px;
     color: rgb(51, 51, 51);
     }
     
h2 { 
     font-family: system-ui;
     color: rgb(49, 61, 173);
    }

h1 { 
     font-family: system-ui;
     color: rgb(105, 20, 101);
}
